@import '../../styles/variable.scss';

.btn {
    bottom: 50px;
    right: 50px;
    z-index: 4;
    cursor: pointer;
    position: fixed;

    a {
        div {
            border-radius: 50%;
            background-color: yellow;
            border: 1px solid $iconColor;
            box-shadow: 1px 1px 1px $textColor;
            @include flexCenter(row);

            svg {
                padding: 10px;
                font-size: 50px;
                font-weight: 800;
                fill: $iconColor;
            }

            &:hover {
                background-color: $iconColor;

                svg {
                    fill: $textColor;
                }
            }
        }
    }
}