@import '../../styles/variable.scss';

.spinner {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    overflow: hidden;
    @include flexCenter(row);
    z-index: 3;
    animation: ease-out 1s 2s 10s;

    .ball {
        background-color: yellow;
        height: 50px;
        width: 50px;
        left: 150px;
        border-radius: 50%;
        position: relative;
        top: 50px;
        animation: bounce 0.9s infinite;
    }

    @keyframes bounce {
        10% {
            height: 50px;
            width: 50px;
        }

        30% {
            height: 50px;
            width: 40px;
        }

        50% {
            height: 30px;
            width: 57px;
            transform: translateY(240px);
        }

        75% {
            height: 50px;
            width: 57px;
        }

        100% {
            transform: translateY(0px);
        }
    }
}

/***************** media queries**************************/

@media (min-width: $md) {
    .btn {
        .ball {
            left: 500px;
            top: 50px;
        }
    }
}