@import '../../styles/variable.scss';

.contact {
    font-size: $fontSizeSm;
    margin: 0px 50px;
    margin-top: 150px;
    bottom: 0;
    height: 100vh;
    @include flexCenter(column);
    justify-content: space-evenly;
    color: $iconColor;
    font-family: 'Lato';
    @include line;

    &_text {
        width: 100%;
        @include flexCenter(row);

        h1 {
            text-shadow: 1px 1px 1px $textColor;
            line-height: 1;
            text-align: center;
        }
    }

    &_btn {
        margin: 50px 0px;
        width: 100%;
        @include flexCenter(row);

        a {
            text-decoration: none;
            width: 100%;

            input {
                padding: 20px;
                width: 100%;
                color: $textColor;
                background-color: $iconColor;
                border-radius: 8px;
                border-bottom: 1px solid $iconColor;

                &:hover {
                    background-color: yellow;
                    color: $iconColor;
                }
            }
        }
    }
}

/**********************media queries************************/
@media (min-width: $md) {
    .contact {
        @include line;

        &_text {
            justify-content: flex-start;
            align-items: flex-start;
            font-size: $fontSizeMd;

            h1 {
                width: 800px;
                font-size: 1.6em;
                text-align: left;
            }
        }

        &_btn {

            a {
                @include flexCenter(row);
                justify-content: flex-end;
                padding-right: 50px;

                input {
                    padding: 15px;
                    width: 30%;
                    font-size: 1.5em;
                }
            }
        }
    }
}